.hidden {
  display: none;
}
span {
  margin-left: 50px;
}
button {
  margin-left: 5px;
  width: 90%;
}
table {
  text-align: center;
  border-collapse: collapse;
  font-size: 24px;

}
td {
  width: 180px;
}
tr {
  margin-bottom: 5px;
}
.table_border {
  border: 2px solid #000;
  border-radius: 8px;
  width: 600px;
  padding: 10px 20px 100px 10px;
}
.card_btn {
  width: 180px;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 8px;
  border: 1px solid #000;
}
.card_button {
  font-size: 16px;
}